<!DOCTYPE html>
<html lang='ja'>
    <head>
        <meta charset="UTF-8">
        <title>テスト</title>
    </head>
    <body>
      <form name = "plan" method ="POST" action="send_plan">
        <div>年</div>
        <input type="text" name="year">
        <div>月</div>
        <input type="text" name="month">
        <div>日</div>
        <input type="text" name="day">
        <div>
        <textarea cols="30" rows="10" name="message"></textarea>
        <input type="submit" value="メモ">
      </div>
      </form>
    </body>
</html>
